body {
    margin: 0;
    background-color: #6AA695;
    font-family: Arial;
    color: #B8D9C6;
}

header {
    display:flex;
    background: #347367;
    padding: 0.5em 1em;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 0px;
}

#company-name {
    font-family: Roboto;
    font-weight: 400;
}

#nav-links > ul > li {
    padding: 0.8em;
    border-radius: 50px;
    margin: 5px;
    transition: background 1s;
}

#nav-links > ul > li:hover {
    background:#B8D9C6;
    box-shadow: 1px 1px 0 rgba (0,0,0, 0.5);
}

#nav-links > ul > li:hover {
    text-decoration: none;
    white-space: nowrap;
    color:white;
}

#nav-links > ul > li:hover > a {
    color:#1C5359;
}

section {
    padding:2em 1em;
}

#portrait {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
}

#side-column {
    background-color: #333;
    

}

#side-column > ul {
    display:flex;
    flex-direction: column;
}

#side-column > ul > li {
    display:flex;
}







































































* { box-sizing: border-box; }


#header {
    width:100%;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    color: #593227;
}



#company-name {
    background-color: #193140;
    box-sizing: border-box;
    color: #B8D9C6;
    font-family: Arial;
    text-decoration: none;
    padding: .5em;
    font-size: 1.3em;
    font-weight: bolder;
    height: 52px;
}

#company-name > span {
    transition: all 0.5s;
    font-size: 0;
}

#company-name:hover > span {
    font-size: 1.3em;
}

#frostimage {
    width: 200px;
    height: 150px;
    object-fit: cover;
    /* try "contain" */
}


nav {
    
    text-align: right;  
}
    

header nav ul li {
    display: inline;
}


ul {
    list-style: none;
    padding: 0;
}


a {
    color: #B8D9C6;
    font-family: Arial;
    text-decoration: none;
    padding: .5em; width: 4em; 
    font-size: 1.3em; 
    font-weight: bolder;
}


#nav_links2 {
    text-align: left;
    text-decoration: none;
}


a:hover { 
    color: brown;
}


p {
    font-size: 1.3em;
}


.column-layout {
    max-width: 1300px;
    background-color:193140;
    margin: 20px auto 0 auto;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}


#portrait-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 40px;
}
    

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 325px;
    padding-bottom: 325px;
}


.flex-container {
    /* We first create a flex layout context 
     
    Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
    
    Then we define how is distributed the remaining space */
    
    justify-content: space-around;
    flex-flow: row wrap;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  

  .flex-item {
    background: #1C5359;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: #B8D9C6;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
  }


.flex-item:first-of-type {
    background: none;
}


footer {
    font-size: 1.5em;
    padding-bottom: 325px;
    padding-top: 325px;
    border-top: 10px solid;
    border-top: #221811;
    background-color: #B8D9C6;
    color:#193140;
    text-align: center;
}


footer a {
    font-size: 1em;
    
}
 @media screen and (max-width: 768px)  {
     main,
     nav {
         flex-direction: column;
     }
 }

